* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    .madimi-one-regular {
        font-family: "Madimi One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .rubik- {
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
        width
    }
*/

$rubik: "Rubik",
sans-serif;
$madimi: "Madimi One",
sans-serif;

a {
    text-decoration: none;
    color: black;
}

.subir {
    height: 40px;
    width: 40px;
    background-color: blueviolet;
    position: fixed;
    bottom: 15px;
    right: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 10px 2px rgb(166, 0, 255);
}

.main {
    text-align: center;
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: 200px 500px 500px 500px;
    justify-content: center;
    height: 420vh;
}

@import "_header";
@import "_box";
@import "_footer";